<div *ngIf="identified_user;else no_logeado">

  <section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <md-toolbar color="primary" class="mat-elevation-z16">

      <button *ngIf="open | async" md-icon-button (click)="sidenav.toggle()">
                    <md-icon>menu</md-icon>
                  </button>
      <span>{{title}}</span>
      <span class="fill-remaining-space"></span>
      <button *ngIf="open_profile | async" md-icon-button [md-menu-trigger-for]="menuprofile"><md-icon>face</md-icon></button>
      <button md-icon-button [md-menu-trigger-for]="menu"><md-icon>more_vert</md-icon></button>
    </md-toolbar>
    <section class="progress-bar">
      <md-progress-bar [color]="'primary'" [mode]="progressBarMode">
      </md-progress-bar>
    </section>
    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item (click)="signOut()">Salir</button>
      <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Cambiar Tema</button>
      <button md-menu-item>Free Hugs!</button>
      <button md-menu-item>Acerda de</button>
    </md-menu>
    <md-menu x-position="before" #menuprofile="mdMenu">
      <md-card>
        <md-card-header>
          <img md-card-avatar src="../assets/Alexanya.png">
          <md-card-title>Titulo</md-card-title>
          <md-card-subtitle>Titlo</md-card-subtitle>
        </md-card-header>
        <md-card-actions class="mat-card-actions">
          <button md-menu-item>Toggle Theme</button>
          <button md-menu-item>Free Hugs!</button>
          <button md-menu-item>Help</button>
        </md-card-actions>
      </md-card>

    </md-menu>



    <md-sidenav-container fxFlex>
      <md-sidenav mode="side" [opened]="open | async" #sidenav class="mat-elevation-z6">
        <md-nav-list>
          <div fxLayout="row">
            <md-card id="user">
              <md-card-title>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <div *ngIf="contacts;else other_content">
                    <img class="avatar-wrapper" (click)="myAccount(contacts[0]);" fxLayoutAlign="center center" md-card-avatar src="{{url_user + 'getimageuser/' +contacts[0].user}}">
                  </div>
                  <ng-template #other_content>
                    <md-icon>person</md-icon>
                  </ng-template>
                </div>
              </md-card-title>
              <md-card-content>
                <p>Hello, Cristian Sifuentes Covarrubias </p>
              </md-card-content>
              <md-card-actions class="mat-card-actions">
                <md-icon>train</md-icon>
              </md-card-actions>
            </md-card>

          </div>
          <div fxLayout="column">
            <a md-list-item [routerLink]="['/home']">
              <md-icon md-list-icon>dashboard</md-icon>
              <span md-line>Inicio</span>
              <span md-line class="secondary">Mis fotos</span>
            </a>
            <a md-list-item [routerLink]="['/mi-cuenta/59b9717802d64c1188b71eb0']">
              <md-icon md-list-icon>camera_enhance</md-icon>
              <span md-line>Fotos</span>
              <span md-line class="secondary">Mis fotos</span>
            </a>
            <a md-list-item [routerLink]="['/subir-foto']">
              <md-icon md-list-icon>backup</md-icon>
              <span md-line>Subir</span>
              <span md-line class="secondary">Añadir nuevas fotos</span>
            </a>
          </div>
        </md-nav-list>
      </md-sidenav>
      <router-outlet>
      </router-outlet>
      <div fxLayout="row" fxLayoutAlign="center" class="card-container">
        <div fxFlex="100%" fxFlex.md="100%" fxFlex.lg="100%">
          <md-progress-spinner *ngIf="!photos" class="progress-spinner" [color]="'primary'" [mode]="'indeterminate'">
          </md-progress-spinner>
          <router-outlet>
            </router-outlet>
          <md-card *ngFor="let photo of dataList">
            <md-card-header>
              <img md-card-avatar (click)="seeAllPhotosUser(photo);" src="{{url_user + 'getimageuser/' + photo.user._id}}">
              <md-card-title>{{ photo.user.name + ' ' + photo.user.lastname}}</md-card-title>
              <md-card-subtitle>{{ photo.name }}</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="{{url + 'getimage/' + photo.image}}" alt="{{photo.name}}">
            <md-card-content>
              {{photo.description}}
            </md-card-content>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </md-sidenav-container>


  </section>

</div>
<ng-template #no_logeado>
  <app-sign-in></app-sign-in>
</ng-template>
<!--section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="100%" fxFlex.md="100%" fxFlex.lg="100%">
      <md-card *ngFor="let photo of dataList">
        <md-card-header>
          <img md-card-avatar (click)="seeAllPhotosUser(photo);" src="{{url_user + 'getimageuser/' + photo.user._id}}">
          <md-card-title>{{ photo.user.name + ' ' + photo.user.lastname}}</md-card-title>
          <md-card-subtitle>{{ photo.name }}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="{{url + 'getimage/' + photo.image}}" alt="{{photo.name}}">
        <md-card-content>
          {{photo.description}}
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</section-->
