<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="100%" fxFlex.md="100%" fxFlex.lg="80%">

      <md-card>
      </md-card>
      <!--md-card>
        <md-card-content>
          <img id="image" src="assets/Alexanya.png" alt="Mountain View" style="width:304px;height:228px;">

          <h2 class="example-h2">Subir nueva foto</h2>
          <form class="example-form" [formGroup]="newPhotoForm" #form="ngForm" (ngSubmit)="createNewPhoto(newPhotoForm.value)">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <md-input-container class="example-full-width">
                  <input mdInput type="text" placeholder="Nombre" formControlName="name">
                </md-input-container>
              </tr>
              <tr>
                <br />
              </tr>
              <tr>
                <md-input-container class="example-full-width">
                  <input mdInput type="text" placeholder="Descripción" formControlName="description">
                </md-input-container>
              </tr>
              <tr>
                <br />
              </tr>
              <tr>

                <span>
                  <input [accept]="accept" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden />
                  <button type="button" md-raised-button (click)="selectFile()">
                      <md-icon>file_upload</md-icon>
                      <ng-content *ngIf="!fileCount" select=".nofiles"></ng-content>
                      <span *ngIf="fileCount">
                          <span>{{fileCount}}</span>
                <ng-content select=".selected"></ng-content>
                </span>
                </button>
                </span>
              </tr>
              <tr>
                <br />
              </tr>
              <tr>
                <button type="submit" md-raised-button color="primary">Subir</button>
              </tr>
            </table>
          </form>
        </md-card-content>
      </md-card-->
    </div>
  </div>
</section>
