<div *ngIf="identified_user;else no_logeado">

  <section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <md-toolbar color="primary" class="mat-elevation-z16">

      <button *ngIf="open | async" md-icon-button (click)="sidenav.toggle()">
                    <md-icon>menu</md-icon>
                  </button>
      <span>{{title}}</span>
      <span class="fill-remaining-space"></span>
      <button *ngIf="open_profile | async" md-icon-button [md-menu-trigger-for]="menuprofile"><md-icon>face</md-icon></button>
      <button md-icon-button [md-menu-trigger-for]="menu"><md-icon>more_vert</md-icon></button>
    </md-toolbar>
    <section class="progress-bar">
      <md-progress-bar [color]="'primary'" [mode]="progressBarMode">
      </md-progress-bar>
    </section>
    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item (click)="signOut()">Salir</button>
      <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Cambiar Tema</button>
      <button md-menu-item>Free Hugs!</button>
      <button md-menu-item>Acerda de</button>
    </md-menu>
    <md-menu x-position="before" #menuprofile="mdMenu">
      <div fxLayout="row">
        <md-card id="user">
          <md-card-title>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div *ngIf="contacts;else other_content">
                <img class="avatar-wrapper" (click)="myAccount(contacts[0]);" fxLayoutAlign="center center" md-card-avatar src="{{url_user + 'getimageuser/' +contacts[0].user}}">
              </div>
              <ng-template #other_content>
                <md-icon>person</md-icon>
              </ng-template>
            </div>
          </md-card-title>
          <md-card-content>
            <p>Hello, Cristian Sifuentes Covarrubias </p>
          </md-card-content>
          <md-card-actions class="mat-card-actions">
            <md-icon>train</md-icon>
          </md-card-actions>
        </md-card>

      </div>

    </md-menu>

    <md-sidenav-container fxFlex>
      <md-sidenav mode="side" [opened]="open | async" #sidenav class="mat-elevation-z6">
        <md-nav-list>
          <div fxLayout="row">
            <md-card id="user">
              <md-card-title>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <div *ngIf="contacts;else other_content">
                    <img class="avatar-wrapper" (click)="myAccount(contacts[0]);" fxLayoutAlign="center center" md-card-avatar src="{{url_user + 'getimageuser/' +contacts[0].user}}">
                  </div>
                  <ng-template #other_content>
                    <md-icon>person</md-icon>
                  </ng-template>
                </div>
              </md-card-title>
              <md-card-content>
                <p>Hello, Cristian Sifuentes Covarrubias </p>
              </md-card-content>
              <md-card-actions class="mat-card-actions">
                <md-icon>train</md-icon>
              </md-card-actions>
            </md-card>

          </div>
          <div fxLayout="column">
            <a md-list-item [routerLink]="['/home']">
              <md-icon md-list-icon>dashboard</md-icon>
              <span md-line>Inicio</span>
              <span md-line class="secondary">Ver fotos</span>
            </a>
            <a md-list-item [routerLink]="['/mi-cuenta']">
              <md-icon md-list-icon>camera_enhance</md-icon>
              <span md-line>Fotos</span>
              <span md-line class="secondary">Mis fotos</span>
            </a>
            <a md-list-item [routerLink]="['/subir-foto']">
              <md-icon md-list-icon>backup</md-icon>
              <span md-line>Subir</span>
              <span md-line class="secondary">Añadir nuevas fotos</span>
            </a>
            <a md-list-item [routerLink]="['/viajeros']">
              <md-icon md-list-icon>flight_takeoff</md-icon>
              <span md-line>Viajeros</span>
              <span md-line class="secondary">Añadir nuevos viajeros</span>
            </a>
            <a md-list-item [routerLink]="['/solicitudes']">
              <md-icon md-list-icon>notifications_active</md-icon>
              <span md-line>Solicitudes</span>
              <span md-line class="secondary">Aceptar nuevos viajeros</span>
            </a>
          </div>
        </md-nav-list>
      </md-sidenav>
      <div class="app-body">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
    </md-sidenav-container>
  </section>
</div>
<ng-template #no_logeado>

  <div *ngIf="!loginOrRegister;else registrar">
    <!-- todos los hijos del div serán desplegados en columnas  centrados -->
    <div class="login-flex-container" fxLayout="column">

      <button fxFlexAlign="center" class="logo-container">
           <div class="logo"></div>
         </button>
      <!-- todos los hijos del div serán desplegados en renglores 1 centrados -->
      <div fxLayout="row" fxLayoutAlign="center" class="card-container">

        <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">

          <md-card>
            <md-card-title>Login</md-card-title>
            <md-card-content>
              <form [formGroup]="signinForm" #form="ngForm" (ngSubmit)="loginUser(signinForm.value)" novalidate>
                <div fxLayout="column">
                  <md-input-container>
                    <input mdInput required placeholder="Correo Electrónico" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="email">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput required type="password" placeholder="Contraseña" autocomplete="off" autocorrect="off" autocapitalize="off"
                      spellcheck="off" formControlName="password">
                  </md-input-container>
                  <button md-raised-button color="accent" [disabled]="form.invalid" type="submit">Ingresar</button>
                  <a md-button (click)="register()">Registrar</a>
                </div>
              </form>
            </md-card-content>
          </md-card>

        </div>

      </div>

    </div>
  </div>

  <ng-template #registrar>

    <div class="register-flex-container" fxLayout="column">

      <button fxFlexAlign="center" class="logo-container">
              <!--div class="logo"></div-->
              <div fxLayout="row" fxLayoutAlign="center center">
                  <div class="avatar-wrapper" fxLayoutAlign="center center">
                    <md-icon>person</md-icon>
                  </div>
                </div>
            </button>
      <div fxLayout="row" fxLayoutAlign="center" class="card-container">
        <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">
          <md-card>
            <md-card-title>Registrar</md-card-title>
            <md-card-content>
              <form [formGroup]="signupForm" #form="ngForm" (ngSubmit)="createUser(signupForm.value)" novalidate>
                <div fxLayout="column">
                  <table class="example-full-width" cellspacing="0">
                    <tr>
                      <td>
                        <md-input-container>
                          <input mdInput required placeholder="Nombre" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="name">
                        </md-input-container>
                      </td>
                      <td>
                        <md-input-container>
                          <input mdInput required placeholder="Apellidos" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="lastName">
                        </md-input-container>
                      </td>
                    </tr>
                  </table>
                  <div>
                    <md-input-container class="example-full-width">
                      <input mdInput required placeholder="Correo Electrónico" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="email">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="example-full-width">
                      <input mdInput required type="password" placeholder="Contraseña" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" formControlName="password">
                    </md-input-container>
                  </div>
                  <table class="example-full-width" cellspacing="0">
                    <tr>
                      <td>
                        <md-input-container>
                          <input mdInput required placeholder="Nickname" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="nickname">
                        </md-input-container>
                      </td>
                      <td>
                        <md-input-container>
                          <input mdInput required placeholder="Edad" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="age">
                        </md-input-container>
                      </td>
                    </tr>
                  </table>
                  <div>

                    <md-select placeholder="Género" required formControlName="gender" class="example-full-width">
                      <md-option>None</md-option>
                      <md-option *ngFor="let state of states" [value]="state.code">{{ state.name }}</md-option>
                    </md-select>

                  </div>
                  <br />
                  <button md-raised-button [disabled]="signupForm.invalid" type="submit" color="accent">Registrar</button>
                  <button md-raised-button (click)="login()" color="accent">Regresar</button>
                </div>

              </form>
              <!--form [formGroup]="signupForm" #form="ngForm" (ngSubmit)="createUser(signupForm.value)" novalidate>
                <div fxLayout="column">
                  
                  
                  
                  

                  
                  <br />
                  
                  <button md-raised-button [disabled]="signupForm.invalid" type="submit" color="accent">Registrar</button>
                  <button md-raised-button (click)="login()" color="accent">Regresar</button>
                </div>
              </form-->
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

  </ng-template>
</ng-template>
