<!--[fxHide]="sidenav.close()"-->
<div class="flex-container" fxLayout="column">

  <md-sidenav-container>
    <md-sidenav #sidenav class="sidenav">
      <md-nav-list>
        <div class="flex-container" fxLayout="row">
          <md-card>
            <md-card-title>
              <div fxLayout="row" fxLayoutAlign="center center">
                <img class="avatar-wrapper" fxLayoutAlign="center center" md-card-avatar src="../assets/Alexanya.png">
              </div>
            </md-card-title>
            <md-card-content>
              <p>Hello, Cristian Sifuentes Covarrubias </p>
            </md-card-content>
            <md-card-actions class="mat-card-actions">
              <md-icon>train</md-icon>
              <!--button (click)="sidenav.close()" class="mat-button" md-button="">
                        <span class="mat-button-wrapper">CLOSE</span>
                        <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                       </button-->
            </md-card-actions>
          </md-card>

        </div>
        <div class="flex-container" fxLayout="column">
          <a md-list-item (click)="sidenav.close()" [routerLink]="['/']">
            <md-icon md-list-icon>Home</md-icon>
            <span md-line>Home</span>
            <span md-line class="secondary">Home</span>
          </a>
          <a md-list-item (click)="sidenav.close()" [routerLink]="['/categories']">
            <md-icon md-list-icon>list</md-icon>
            <span md-line>Categories</span>
            <span md-line class="secondary">Categories</span>
          </a>
          <a md-list-item (click)="sidenav.close()" [routerLink]="['/tags']">
            <md-icon md-list-icon>bookmark</md-icon>
            <span md-line>Tags</span>
            <span md-line class="secondary">Tags</span>
          </a>
          <a md-list-item (click)="sidenav.close()" [routerLink]="['/questions']">
            <md-icon md-list-icon>question_answer</md-icon>
            <span md-line>Questions</span>
            <span md-line class="secondary">Questions</span>
          </a>

        </div>

      </md-nav-list>
    </md-sidenav>
    <div class="my-content">
      <md-toolbar color="primary" class="mat-elevation-z10">
        <button md-icon-button (click)="sidenav.open()">
          <md-icon>menu</md-icon>
        </button>
        <span>{{title}}</span>
        <span class="fill-remaining-space"></span>
        <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
          </button>
      </md-toolbar>

      <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item (click)="openDialog()">Settings</button>
        <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle Theme</button>
        <button md-menu-item>Free Hugs!</button>
        <button md-menu-item>Help</button>
      </md-menu>

      <div fxLayout="column" fxLayoutAlign="center">

        <md-grid-list [cols]="cols | async" gutterSize="15px" class="grid">
          <md-grid-tile *ngFor="let photo of photos">
            <img src="assets/{{photo.name}}.png" alt="photo of the super photo {{photo.name}}">
            <md-grid-tile-footer>
              <h3 md-line>{{photo.name}}</h3>
              <span md-line>{{photo.status}}</span>
              <button md-icon-button>
                            <md-icon>info</md-icon>
                          </button>
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
      </div>

    </div>
  </md-sidenav-container>
</div>
<!--


  <div fxLayout="column" fxLayoutAlign="center" class="card-container">

    <md-grid-list [cols]="cols | async" gutterSize="5px">
      <md-grid-tile *ngFor="let photo of photos">
        <img src="assets/{{photo.name}}.png" alt="photo of the super photo {{photo.name}}">
        <md-grid-tile-footer>
          <h3 md-line>{{photo.name}}</h3>
          <span md-line>{{photo.status}}</span>
          <button md-icon-button>
                    <md-icon>info</md-icon>
                  </button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>

 -->