<!-- todos los hijos del div serán desplegados en columnas  centrados -->
<div class="flex-container" fxLayout="column">

  <!-- Espacio entre photos -->
  <md-grid-list [cols]="cols | async" gutterSize="5px">
    <md-grid-tile *ngFor="let photo of photos">
      <img src="assets/{{photo.name}}.png" alt="photo of the super photo {{photo.name}}">
      <md-grid-tile-footer>
        <h3 md-line>{{photo.name}}</h3>
        <span md-line>{{photo.description}}</span>
        <button md-icon-button>
                  <md-icon>info</md-icon>
                </button>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>